#lx{
  border-width: thin; 
  border-style: solid;
  border-color: #007e7e;
  width: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
  text-align: center;
  background-image: url(./images/cocktail.gif);
  background-repeat: repeat-x; 
}
#lx h2{
  color: black;
}
#lx h3{
  color: #d12c47;
}
.cd {
  font-style: italic;
}
.artist {
  font-weight: bold;
}
.lll {
  font-style: italic;
}
.xxx {
  font-weight: bold;
}
.iii {
  font-style: italic;
}
.www {
  font-weight: bold;
}
.ggg a:link {
  color: #007e7e;
}
.ggg a:visited {
  color: #333333;
}
.ggg a:hover {
  background: #f88396;
  color: #0d5353;
}
.fff a:link {
  color: #007e7e;
}
.fff a:visited {
  color: #333333;
}
.fff a:hover {
  background: #f88396;
  color: #0d5353;
}
#lx {
  float: right;
}
#kkk {
  line-height: 1.9em;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #444444;
  border-color: white;
  border-width: 1px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 25px;
  padding-left: 80px;
  margin: 30px;
  margin-right: 250px;
  background-image: url(./images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
}